@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --text-color: #333;
    --main-color: #fdfdfd;
    --pink-color: #f4acc4;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode{
    --text-color: #fdfdfd;
    /* --main-color: #3b3c3e; */
    --main-color: #333;
    --pink-color: #ce8ca2;
    --shadow-color: rgba(0, 0, 0, .7);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--main-color);
    color:var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    z-index: 100;
    gap: 1rem;
}

.header.sticky{
    background: var(--main-color);
    box-shadow: 0.1rem 1rem 1rem var(--shadow-color);
}

.header.sticky .navbar a.active{
    color:var(--pink-color);
}

.header.sticky .navbar a::before{
    background-color:var(--pink-color);
}

.logo img{
    height: 60px;    
    width: auto;
    margin-top: 10px;
    margin-left: 15px;
}

.navbar{
  margin-left: auto;             
  display: flex;
  gap: 1.5rem; 
}

.navbar a{
    position: relative;
    font-size: 1.7rem;
    color:var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background:var(--text-color);
}

#darkMode-icon{
    font-size: 2.4rem;
    color:var(--text-color);
    cursor: pointer;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;

}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p{
    font-size: 1.6rem;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--pink-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .2);
    font-size: 2rem;
    color: var(--pink-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .2s ease;
}

.home-content .social-media a:hover{
    background: var(--pink-color);
    color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 12s ease-out infinite;
}

@keyframes professionRotate{
    0%, 20%{
        transform: rotate(0deg);
    }
    25%, 45%{
        transform: rotate(-90deg);
    }
    50%, 70%{
        transform: rotate(-180deg);
    }
    75%, 90%{
        transform: rotate(-270deg);
    }
    95%, 100%{
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    padding: 13px 0;
    background: var(--main-color);
}

.home .profession-box .profession:nth-child(1){
    margin-left: 5%;   
}

.home .profession-box .profession:nth-child(2){
    margin-top: 15%;  
}

.home .profession-box .profession:nth-child(3) i{
    margin-left: 15%;  
}

.home .profession i{
    font-size: 3.8rem;

}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--pink-color);
    border-radius: 50%;
}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--pink-color);
    border-right: 384px solid var(--pink-color);
    border-bottom: 384px solid var(--pink-color);
    border-left: 384px solid transparent;
}

.home-img img{
    position: absolute;
    bottom: -3.5rem;
    right: 0;
    width: 28%;
    pointer-events: none;
}

span{
    color: var(--text-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img{
    width: 50vw;
    margin-left: -60px;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--pink-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .2s ease;
}

.btn:hover{
    background: transparent;
    color: var(--pink-color);
    border-color: var(--pink-color);
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services {
    min-height: auto;
    padding-bottom: 5rem;
}

.services h2{
    margin-bottom: 5rem;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem 2rem;
}

.services-container .services-box{
    box-sizing: border-box;
    flex: 0 0 calc((100% - 2rem * 2) / 3);
    max-width: calc((100% - 2rem * 2) / 3);
    background: var(--main-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--pink-color);
    border-bottom: .6rem solid var(--pink-color);
    transition: .3s ease;

}

.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}


.services-box i{
    font-size: 7rem;
    color: var(--pink-color);
}

.services-box h3{
    font-size: 2.6rem;
}

.services-box:hover h3{
    color: var(--pink-color);
    transition: .3s ease;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    
}

.portfolio{
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    overflow: hidden;
}

.portfolio-box img{
    width: 100%;
    object-fit: cover;
    height: 250px;
    transition: .3s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), #f4acc4);  
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .3s ease;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--text-color);
}


.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;

}

.testimonial-content .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--pink-color);
    border-bottom: .8rem solid var(--pink-color);

}

.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--main-color);
    outline: .5rem solid var(--pink-color);
}

.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem;
}

.testimonial-slide p{
    font-size: 1.4rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
    color: var(--pink-color);
}

.testimonial-box .swiper-button-next{
    right: 0;
}

.testimonial-box .swiper-button-prev{
    left: 0;
}

.testimonial-box .swiper-pagination-bullet{
    background-color: rgba(0,0,0,.8);
}

.testimonial-box .swiper-pagination-bullet-active{
    background: var(--pink-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--pink-color);
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--main-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: 50%;
    border: .2rem solid var(--pink-color);
    outline: .2rem solid transparent;
    transition: .3s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--main-color);
}


.footer-iconTop a i{
    font-size: 2.4rem;
    color:var(--text-color);
}

@media(max-width: 1370px){
        .home .profession-container .profession-box{
        right: -12rem;
        height: 85.8rem;
    }

    .home .profession-container .overlay{
        right:-5rem;
    }

    .home-img img{
        width: 33%;
    }

}
@media(max-width: 1200px){
    html{
        font-size: 55%;
    }

    .home .profession-container{
        height: 85.8rem;
    }

    .home .profession-container .profession-box{
        right: -22rem;
        height: 85.8rem;
    }

    .home .profession-container .overlay{
        right:-15rem;
    }

    .home-img img{
        width: 35%;
    }
}

@media(max-width: 1024px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 15rem 3% 2rem;
    }
    .home .profession-container .profession-box{
        right: -23rem;
    }
    .home .profession-container .overlay{
        right: -16rem;
    }

    .home-img img{
        width: 35%;
    }

}

@media(max-width: 991px){
    .home .home-content{
        max-width: 45rem;
    }

    .home .profession-container .profession-box{
        right: -48rem;
    }

    .home .profession-container .overlay{
        right: -42rem;
    }

    .home-img{
        display: none;
    }

    .services,
    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width: 768px){
    #menu-icon{
        margin-left: auto;
        display: block;
    }

    #darkMode-icon{
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color:var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--main-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
        color: var(--text-color);
        width: 100%;
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color:var(--text-color);
    }

    .navbar a.active{
        color:var(--pink-color);
    }

    .navbar a::before{
        display: none;
    }

    .home{
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content .social-media a{
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container{
        left: 0;
        width: 100%;
        height: 80%;
    }

    .home .profession-container .profession-box{
        position: fixed;
        top:55%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession-box .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0 0;
    }

    .home .profession-box .profession:nth-child(1){
        margin-right: 25%;
        margin-bottom: 2%;   
    }

    .home .profession-box .profession:nth-child(2){
        margin-bottom: 15%;
        margin-left: 2%;  
    }

    .home .profession-box .profession:nth-child(3) i{
        margin-right: 15%;  
    }

    .home .profession-box .profession:nth-child(4) {
        margin-right: 9%; 
        margin-top: 17%; 
    }

    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0px, -335px);
    }

    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-45px, -440px);
    }

    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .profession-box .circle{
        position: fixed;
        width: 670px;
        height:670px;
        z-index: -1;
    }

    .home .profession-container .overlay{
        position: fixed;
        top: 65rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2{
        text-align: center;
    }

    .about-img img{
        width: 70vw;
        margin-top: -2rem;
        margin-left: 0px;
    }

    .services h2,
    .portfolio h2{
        margin-bottom: 3rem;
    }


    .portfolio .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0 auto; 
    }

    .services .services-container{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 4rem 2rem;
    }

    .services-container .services-box{
        box-sizing: border-box;
        flex: 0 0 calc((100% - 2rem * 2) / 2);
        max-width: calc((100% - 2rem * 2) / 2);
        background: var(--main-color);
        padding: 3rem 2rem 4rem;
    }

    .testimonial-container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .testimonial-container .testimonial-wrapper{
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide{
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev{
        display: none;
    }
}

@media(max-width: 617px){
    
    .services .services-container{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 4rem 2rem;
    }

    .services-container .services-box{
        box-sizing: border-box;
        flex: 0 0 calc((100% - 2rem * 2) / 1);
        max-width: calc((100% - 2rem * 2) / 1);
        background: var(--main-color);
        padding: 3rem 2rem 4rem;
    }
    .home .profession-box .profession:nth-child(4) {
        margin-right: 10%; 
        margin-top: 20%; 
    }
}

@media(max-width: 450px){
    html {
        font-size: 50%;
    }

    #darkMode-icon{
        right: 6rem;
    }

    .home{
        padding: 0 3% 30rem;
    }

    .contact form .input-box input{
        width: 100%;
    }

    .home .profession-box .profession:nth-child(1){
        margin-right: 37%;
        margin-bottom: 5%;   
    }

    .home .profession-box .profession:nth-child(4) {
        margin-right: 20%; 
        margin-top: 25%; 
    }
    
}

@media(max-width: 365px){
    .about-img img {
        width: 100vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }

    .home .profession-box .circle{
        position: fixed;
        width: 670px;
        height:670px;
        z-index: -1;
    }

    .home .profession-container .overlay{
        position: fixed;
        top: 73rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .home .profession-box .profession:nth-child(1){
        margin-right: 50%;
        margin-bottom: 13%;   
    }

    .home .profession-box .profession:nth-child(2){
        margin-bottom: 15%;
        margin-left: 2%;  
    }

    .home .profession-box .profession:nth-child(3) i{
        margin-right: 15%;  
    }

    .home .profession-box .profession:nth-child(4) {
        margin-right: 25%; 
        margin-top: 30%; 
    }

    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0px, -335px);
    }

    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-45px, -440px);
    }

    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
    }
}